<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="conn" value="mongodb://localhost:mH3LYJVgCtbOJp7UAHSOt8SldI26mUCFNNGoeDHYSW1F06N8GPgvtcvniqKkUtsCbO5uZ1VodXcauUZpTeQzWQ==@localhost:15152/"></add>-->
    <add key="conn" value="mongodb://localhost:27017/"></add>
   
    <add key="dbName" value="axa"/>
    <add key="collectionName" value="test"/>
    <add key="batchsize" value="100"/>
    <add key="count" value="800"/>

    <add key="sleep-interval-in-milliseconds" value="500"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
